.admin-container {
    display: flex;

    .admin-sidebar {
        .sidebar-container .hidden {
            height: 100vh;
        }

        .sidebar-container .show {
            position: relative;
            border-right: 1px solid #efefef;
            width: 80px;
            min-width: 50px;
            -webkit-transition: width, left, right, 300ms;
            transition: width, left, right, 300ms;

            .fpTHfu {
                height: 100vh;

            }
        }
    }
}