.admin-container {

    display: flex;

    a {
        color: var(--bs-link-color);
        text-decoration: underline;
        color: black;
        text-decoration: none;
    }

    .admin-content {
        width: 100%;
        border: 1px solid green;

        .admin-header {
            width: 100%;
            border-bottom: 1px solid black;
        }

        .admin-main {
            width: 100%;


        }
    }


    .admin-sidebar {


        .sidebar-container .hidden {
            height: 100vh;

            .header-sidebar {
                overflow: hidden;
                margin-left: 15px;
            }


        }


        .sidebar-container .show {
            position: relative;
            border-right: 1px solid #efefef;
            width: 75px;
            min-width: 50px;
            -webkit-transition: width, left, right, 300ms;
            transition: width, left, right, 300ms;

            .header-sidebar {
                overflow: hidden;
                margin-left: 15px;
            }

            .fpTHfu {
                height: 100vh;

            }
        }
    }
}